  <header>
    <div class="container">
        <div class="headerside">
        <div class="name"  onclick="window.location.href = 'index.html'">Odah Victor</div>
        <div class="links" id="middlelinks">
            <a href="#tab1" class="tab-link navactive">_hello</a>
            <a href="#tab2" class="tab-link">_about-me</a>
            <a href="#tab3" class="tab-link">_projects</a>
            <a href="#tab4" class="tab-link hideme">_contact</a>
            <a  class="tab-link hideme"  onclick="toggleFullscreen()">
              <span class="material-symbols-outlined icn">
              open_in_full
              </span>
            </a>

        </div>
    </div>

    <div class="links">
      <a  class="tab-link "  onclick="toggleFullscreen()">
        <span class="material-symbols-outlined icn">
        open_in_full
        </span>
      </a>
        <a href="#tab4" class="tab-link ">_contact</a>

    </div>
    <div class="navtoggle" onclick="navtoggler()">

      <span class="material-symbols-outlined">
          menu
      </span>
  </div>
    </div>


</header>