     {% load static %}

        <div id="tab1" class="tab-content active">
        <div class="sectionone">
            <div class="sectionflex">

                <div class="secflexone">

                    <div class="herominitext">Hi all. I am</div>
                    <div class="herobigtext">Odah <span class="bfn">Victor</span> </div>

                    <div class="herochangingtext">
                        <span class="words-wrapper">
                            <b class="is-visible">> Front-end Developer <span class="material-symbols-outlined">
                              terminal
                              </span></b>
                            <b >> Back-end Developer <span class="material-symbols-outlined">
                              iframe
                              </span></b>
                            <b>> javascript enthusiast <span class="material-symbols-outlined">
                              javascript
                              </span></b>
                            <b>> Full-stack Developer <span class="material-symbols-outlined">
                              code
                              </span></b>
                            <b>> Mobile App Developer <span class="material-symbols-outlined">
                              phone_iphone
                              </span></b>
                            <b>> Problem Solver</b>
                            <b>> CSS Ninja <span class="material-symbols-outlined">
                              css
                              </span></b>
                            <b>> Dreamer</b>
                            <b>> Teacher</b>
                                </span>

                         </div>
                    <br>
                    <div class="commenttext">
                        // Each project is a unique piece of development
                    </div>
                    <div class="commenttext">
                        // you can also see check my Github page
                    </div>
                    <div class="lasttext">
                      <div class="const">const</div>  <div class="functionname">githubLink</div>  = <div class="functionlink"> http://github.com/manlikevee” </div>
                    </div>

                </div>
                <div class="secflextwo">
                    <div class="peanutone">
                        <img src="{% static 'Green (1).png' %}" alt="">
                    </div>
                    <div class="peanuttwo">
                                <img src="{% static 'Blue.png' %}" alt="">

                    </div>
                    <div class="heroimagebox">

                    <div class="container" style="display: none;">
                        <div class="display-date">
                          <span id="day">day</span>,
                          <span id="daynum">00</span>
                          <span id="month">month</span>
                          <span id="year">0000</span>
                        </div>
                        <div class="display-time"></div>
                      </div>

                      <div class="coffintop">
                        <div class="coffinone">
                          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                            <g filter="url(#filter0_di_64_1310)">
                              <circle cx="8.73047" cy="8.58002" r="6.5" fill="url(#paint0_radial_64_1310)"/>
                            </g>
                            <path d="M5.96094 10.8747L11.4995 6.28531M5.96094 6.28531L11.4995 10.8747" stroke="#114944"/>
                            <defs>
                              <filter id="filter0_di_64_1310" x="0.230469" y="0.0800171" width="21" height="21" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                                <feOffset dx="2" dy="2"/>
                                <feGaussianBlur stdDeviation="2"/>
                                <feComposite in2="hardAlpha" operator="out"/>
                                <feColorMatrix type="matrix" values="0 0 0 0 0.0525 0 0 0 0 0.2625 0 0 0 0 0.255726 0 0 0 1 0"/>
                                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_64_1310"/>
                                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_64_1310" result="shape"/>
                                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                                <feOffset dy="1"/>
                                <feGaussianBlur stdDeviation="1"/>
                                <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
                                <feColorMatrix type="matrix" values="0 0 0 0 0.12184 0 0 0 0 0.504167 0 0 0 0 0.464752 0 0 0 1 0"/>
                                <feBlend mode="normal" in2="shape" result="effect2_innerShadow_64_1310"/>
                              </filter>
                              <radialGradient id="paint0_radial_64_1310" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(8.73047 5.58002) rotate(90) scale(9.5)">
                                <stop offset="0.151042" stop-color="#217D7A"/>
                                <stop offset="1" stop-color="#114B4A"/>
                              </radialGradient>
                            </defs>
                          </svg>
                        </div>

                        <div class="coffinone">
                          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                            <g filter="url(#filter0_di_64_1310)">
                              <circle cx="8.73047" cy="8.58002" r="6.5" fill="url(#paint0_radial_64_1310)"/>
                            </g>
                            <path d="M5.96094 10.8747L11.4995 6.28531M5.96094 6.28531L11.4995 10.8747" stroke="#114944"/>
                            <defs>
                              <filter id="filter0_di_64_1310" x="0.230469" y="0.0800171" width="21" height="21" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                                <feOffset dx="2" dy="2"/>
                                <feGaussianBlur stdDeviation="2"/>
                                <feComposite in2="hardAlpha" operator="out"/>
                                <feColorMatrix type="matrix" values="0 0 0 0 0.0525 0 0 0 0 0.2625 0 0 0 0 0.255726 0 0 0 1 0"/>
                                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_64_1310"/>
                                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_64_1310" result="shape"/>
                                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                                <feOffset dy="1"/>
                                <feGaussianBlur stdDeviation="1"/>
                                <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
                                <feColorMatrix type="matrix" values="0 0 0 0 0.12184 0 0 0 0 0.504167 0 0 0 0 0.464752 0 0 0 1 0"/>
                                <feBlend mode="normal" in2="shape" result="effect2_innerShadow_64_1310"/>
                              </filter>
                              <radialGradient id="paint0_radial_64_1310" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(8.73047 5.58002) rotate(90) scale(9.5)">
                                <stop offset="0.151042" stop-color="#217D7A"/>
                                <stop offset="1" stop-color="#114B4A"/>
                              </radialGradient>
                            </defs>
                          </svg>
                        </div>
                      </div>
                    <div class="middle">
                      <div class="instructions">
                        <div>    <div class="score_container">
                        //  Score:<span class="score">0</span>
                        </div></div>

                         </div>
                      <div class="game">
                      </div>
                      <div class="game_controls">

                        <button id="restart_game" type="button">RESTART</button>
                      </div>
                    </div>

                    <div class="coffintop">
                      <div class="coffinone">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                          <g filter="url(#filter0_di_64_1310)">
                            <circle cx="8.73047" cy="8.58002" r="6.5" fill="url(#paint0_radial_64_1310)"/>
                          </g>
                          <path d="M5.96094 10.8747L11.4995 6.28531M5.96094 6.28531L11.4995 10.8747" stroke="#114944"/>
                          <defs>
                            <filter id="filter0_di_64_1310" x="0.230469" y="0.0800171" width="21" height="21" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                              <feOffset dx="2" dy="2"/>
                              <feGaussianBlur stdDeviation="2"/>
                              <feComposite in2="hardAlpha" operator="out"/>
                              <feColorMatrix type="matrix" values="0 0 0 0 0.0525 0 0 0 0 0.2625 0 0 0 0 0.255726 0 0 0 1 0"/>
                              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_64_1310"/>
                              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_64_1310" result="shape"/>
                              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                              <feOffset dy="1"/>
                              <feGaussianBlur stdDeviation="1"/>
                              <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
                              <feColorMatrix type="matrix" values="0 0 0 0 0.12184 0 0 0 0 0.504167 0 0 0 0 0.464752 0 0 0 1 0"/>
                              <feBlend mode="normal" in2="shape" result="effect2_innerShadow_64_1310"/>
                            </filter>
                            <radialGradient id="paint0_radial_64_1310" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(8.73047 5.58002) rotate(90) scale(9.5)">
                              <stop offset="0.151042" stop-color="#217D7A"/>
                              <stop offset="1" stop-color="#114B4A"/>
                            </radialGradient>
                          </defs>
                        </svg>
                      </div>

                      <div class="coffinone">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                          <g filter="url(#filter0_di_64_1310)">
                            <circle cx="8.73047" cy="8.58002" r="6.5" fill="url(#paint0_radial_64_1310)"/>
                          </g>
                          <path d="M5.96094 10.8747L11.4995 6.28531M5.96094 6.28531L11.4995 10.8747" stroke="#114944"/>
                          <defs>
                            <filter id="filter0_di_64_1310" x="0.230469" y="0.0800171" width="21" height="21" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                              <feOffset dx="2" dy="2"/>
                              <feGaussianBlur stdDeviation="2"/>
                              <feComposite in2="hardAlpha" operator="out"/>
                              <feColorMatrix type="matrix" values="0 0 0 0 0.0525 0 0 0 0 0.2625 0 0 0 0 0.255726 0 0 0 1 0"/>
                              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_64_1310"/>
                              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_64_1310" result="shape"/>
                              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                              <feOffset dy="1"/>
                              <feGaussianBlur stdDeviation="1"/>
                              <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
                              <feColorMatrix type="matrix" values="0 0 0 0 0.12184 0 0 0 0 0.504167 0 0 0 0 0.464752 0 0 0 1 0"/>
                              <feBlend mode="normal" in2="shape" result="effect2_innerShadow_64_1310"/>
                            </filter>
                            <radialGradient id="paint0_radial_64_1310" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(8.73047 5.58002) rotate(90) scale(9.5)">
                              <stop offset="0.151042" stop-color="#217D7A"/>
                              <stop offset="1" stop-color="#114B4A"/>
                            </radialGradient>
                          </defs>
                        </svg>
                      </div>
                    </div>

                    </div>
                </div>
            </div>
                <script>
                    const displayTime = document.querySelector(".display-time");
// Time
function showTime() {
  let time = new Date();
  displayTime.innerText = time.toLocaleTimeString("en-US", { hour12: false });
  setTimeout(showTime, 1000);
}

showTime();

// Date
function updateDate() {
  let today = new Date();

  // return number
  let dayName = today.getDay(),
    dayNum = today.getDate(),
    month = today.getMonth(),
    year = today.getFullYear();

  const months = [
    "January",
    "February",
    "March",
    "April",
    "May",
    "June",
    "July",
    "August",
    "September",
    "October",
    "November",
    "December",
  ];
  const dayWeek = [
    "Sunday",
    "Monday",
    "Tuesday",
    "Wednesday",
    "Thursday",
    "Friday",
    "Saturday",
  ];
  // value -> ID of the html element
  const IDCollection = ["day", "daynum", "month", "year"];
  // return value array with number as a index
  const val = [dayWeek[dayName], dayNum, months[month], year];
  for (let i = 0; i < IDCollection.length; i++) {
    document.getElementById(IDCollection[i]).firstChild.nodeValue = val[i];
  }
}

updateDate();
                </script>
                </div>
                </div>